nav{
    border-bottom: 1px solid #bebebe;
    padding: 0px;
}

.bot-cap {
    padding: 10px;
    font-weight: 800;
    display: block;
    border-radius: 10px;
    text-transform: uppercase;
    color: #5a5a5a;
    margin: 5px;
    border: 1px solid #b1b1b1;
   
}


.bot-cap:hover{
   text-decoration: none;
     box-shadow: 2px 2px 4px rgba(31, 31, 31, 0.49);
    color: #0679ff;
}



.barra{
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: #fff;
    z-index: 9999999999;
   
}

main{
    
    padding: 10px 0px;
}



main img{
   width: 100%; 
}


.caps{
    border-top:1px solid #bebebe; 
    padding: 10px;
}

.footer{
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #6c6c6c;
    border-top: 1px solid #bebebe;
    margin-top: 10px;
    
}


.titulo h1{
    text-align: center;
    font-weight: 800;
    padding: 10px;
    text-transform: uppercase;
    color: #777777;
    font-size: 1.5em;
    border-bottom: 1px solid #bebebe;
    margin: 0;
}

.doacao h1{
    font-weight: 800;
    text-transform: uppercase;
    color: #696969;
    font-size: 1.5em;
}

.contatos p{
    margin: 0;
}


.caps h1{
 text-align: center;
    font-weight: 800;
    padding: 10px;
    text-transform: uppercase;
    color: #777777;
    font-size: 1.5em;
    margin: 0;
    
}